{% from 'bootstrap/utils.html' import render_static %}
<!DOCTYPE html>
<html lang="en">
  <head>
  {% block head %}

  {% if title %}
  <title>{{ title }}</title>
  {% else %}
  <title>loganf.com</title>
  {% endif %}

  {% block styles %}
  {{ bootstrap.load_css() }}
  {{ render_static('css', 'css/main.css') }}
  {{ render_static('css', 'https://fonts.googleapis.com/css?family=Libre-Baskerville', local=False) }}
  {% endblock %}

  {% endblock %}
  </head>
  <body>
  {% from 'bootstrap/nav.html' import render_nav_item %}

  <nav class="navbar navbar-expand-sm fixed-top navbar-light bg-white">

         <a class="navbar-brand" href="{{ url_for('index') }}">

             <img src="{{ url_for('static', filename='logo.png') }}" width="32"
             height="32" class="d-inline-block align-top" alt="" loading="lazy">
            loganf.com
         </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse"
                                                   data-target="#navbarText"
                                                   aria-expanded="false"
                                                   aria-label="Toggle
                                                                Navigation">

      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarText">
      {{ render_nav_item('writings', 'writings') }}
      {{ render_nav_item('zettelkastens', 'zettelkasten') }}
      <a class="nav-item nav-link " href="https://github.com/loganfred"> github </a>
      </div>
  </nav>

  <div class="container maincontent px-md-5">
    {% block content %}{% endblock %}
  </div>

  {% block scripts %}
  {{ bootstrap.load_js() }}
  {% endblock %}

  </body>
</html>
