{% extends "base.html" %}

{% block content %}

    <div class="row">
    {% for article in articles %}
        <div class="col-auto mb-3">
            <div class="card article-card">
              <div class="card-body">
                <h5 class="card-title"> {{ article['title'] }}</h5>
                <h5 class="card-subtitle mb-2 text-muted"> {{ article['date'] }}</h5>
                <p class="card-text"> {{ article['preview'] | safe }} </p>
                <a class="btn btn-primary text-light" href="{{ url_for('article', title=article['title'])}}">Read</a>
              </div>
            </div>
        </div>
    {% endfor %}
    </div>

{% endblock %}
