{% extends "base.html" %}

{% block content %}
        <h1>logan's blog</h1>
        <p> these are the posts available <p>
        <div>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">article</th>
                <th scope="col">date</th>
                <th scope="col">tags</th>
            </tr>
            </thead>
            <tbody>
            {% for article in articles %}
            <tr>
            <td>
            <a href="{{ url_for('blog_read', post=article['id'])}}">
            {{ article['title'] }}</a>
            </td>
            <td>
            {{ article['date'] }}
            </td>
            <td>
            {{ article['keywords'] }}
            </td>
            {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}
